p {
  cursor: default;
}

p:first-child {
  margin-top: 0px;
}

p:last-child {
  margin-bottom: 0px;
}

.App {
  background-color: #282c34;
  color: white;
}

.Repos {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ReposFallback {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.Repo {
  background-color: white;
  border-radius: 4px;
  color: #282c34;
  margin: 16px 16px 0 16px;
  padding: 8px;
}

.Repo:last-child {
  margin: 16px;
}

.RepoName {
  font-size: 24px;
}

.Issues {
}

.IssuesCount {
  color: #6F7C96;
}

.IssuesFallback {
  color: #6F7C96;
}

.IssuesButton {
  cursor: pointer;
  padding-right: 8px;
}

.Issue {
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
